.App {
  text-align: center;
  margin-top: 50px;
  border: 2px solid black;
  width: 450px;
  height: 430px;
  margin: 0 auto;
  margin-top: 100px;;
  border-radius: 20px;
  background-color: rgb(139, 202, 214);
}
input {
 height: 15px;
}